[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "areaplot"]
	path = areaplot
	url = https://github.com/arni-magnusson/areaplot
[submodule "gmt"]
	path = gmt
	url = https://github.com/arni-magnusson/gmt
[submodule "makeit"]
	path = makeit
	url = https://github.com/arni-magnusson/makeit
[submodule "MSSQL"]
	path = MSSQL
	url = https://github.com/cran/MSSQL
[submodule "plotMCMC"]
	path = plotMCMC
	url = https://github.com/arni-magnusson/plotmcmc
[submodule "r2d2"]
	path = r2d2
	url = https://github.com/arni-magnusson/r2d2
[submodule "scape"]
	path = scape
	url = https://github.com/arni-magnusson/scape
